!!! 5
html
  head
    link(rel='stylesheet', href='#{homePath}/stylesheets/style.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8') 
  body!= body
    script(type='text/javascript', src='#{homePath}/js/jquery-1.6.2.min.js')
    script(type='text/javascript', src='#{homePath}/js/custom.js')