<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <script src="js/jquery.timeago.js"></script>
    <script src="js/appList.js"></script>
    <link rel="stylesheet" href="css/appList.css" />
  </head>
  <body>
    <section class="header">
      APPS ADDED TO YOUR ACCOUNT
    </section>
    <content class="body">
      <ul>
        <% for (var i = 0; i < apps.length; i++) { %>
          <li class="appList" data-id='Explore-<%= apps[i].id %>'>
            <p>
              <%= apps[i].title %>, by <%= apps[i].author && apps[i].author.name ? apps[i].author.name : "Singly, Inc." %> <span class="pipe">|</span>
              <a class="orange" href="<%= apps[i].url || "https://github.com/LockerProject/Locker" %>">view code on GitHub</a>
            </p>
            <% if (apps[i].lastUsed) { %>
              <p class="date">
                used <time class="timeago" datetime="<%= apps[i].lastUsed %>"></time>
              </p>
            <% } %>
          </li>
        <% } %>
      </ul>
    </content>
  </body>
</html>

