<ul class="breadcrumb">
  <li><p class='first-crumb'><a class='parentLink' href='explore#exploreApps'>App Gallery</a></p></li>
  <% if (breadcrumb == 'featured') { %>
    <li><p><a class='parentLink' href='explore#exploreApps&featured'>Featured</a></p></li>
  <% } else if (breadcrumb == 'filter') { %>
    <li><p>
      <% var count = 0; %>
      <% if (typeof(types) !== 'undefined') { %>
        <% for (var i = 0; i < types.length; i++) { %>
          <% if (count > 0) { %>
            +
          <% } count++ %>
          <a class='blue parentLink' href='explore#exploreApps&filter&types[]=<%= types[i] %>'><%= types[i][0].toUpperCase() + types[i].slice(1) %></a>
        <% } %>
      <% } %>
      <% if (typeof(services) !== 'undefined') { %>
        <% for (var i in services) { %>
          <% if (count > 0) { %>
            +
          <% } count++ %>
         <a class='blue parentLink' href='explore#exploreApps&filter&services[]=<%= i %>'><%= services[i] %></a>
        <% } %>
      <% } %>
    </li></p>
  <% } else { %>
    <li><p><a class='<% if (!app.repository) { %> blue <% } %> parentLink' href='explore#exploreApps&author&author=<%= breadcrumb %>'>by <%= breadcrumb %></a></p></li>
  <% } %>
  <% if (app && app.repository) { %>
    <li><p><a class='blue parentLink' href='explore#registryApp&<%= app.repository.title %>'><%= app.repository.title %></a></p></li>
  <% } %>
</ul>
