<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <script src="js/exploreApps.js"></script>
    <link rel="stylesheet" href="css/exploreApps.css" />
  </head>
  <body>
    <content class="body">
      <% if (locals.breadcrumb) { %>
        <%- partial('iframe/breadcrumb') %>
      <% } %>
      <% for (var i in apps) { %>
        <div class="app-card" id="<%= i %>&breadcrumb=featured">
          <div class="left-side">
            <div class="description"><%= apps[i].repository.desc %></div>
            <div class="screenshot"><img src="img/batman.jpg"></div>
          </div>
          <div class="app-info">
            <p class="title"><%= apps[i].repository.title %></p>
            <p class="author"><a class="orange parentLink" href="explore#exploreApps&author&author=<%= apps[i].repository.author %>">by <%= apps[i].repository.author %></a></p>
            <% if (apps[i].repository.uses && apps[i].repository.uses.types) { %>
              <p class="uses">Uses
                <% for (var j = 0; j < apps[i].repository.uses.types.length; j++) { %>
                  <% if (j > 0) { %>, <% } %>
                  <a class='blue parentLink' href='explore#exploreApps&filter&types[]=<%= apps[i].repository.uses.types[j] %>'>
                    <%= apps[i].repository.uses.types[j][0].toUpperCase() + apps[i].repository.uses.types[j].slice(1) %>
                  </a>
                <% } %>
              </p>
            <% } %>
            <% if (apps[i].repository.uses && apps[i].repository.uses.services) { %>
              <% var count = 0; %>
              <% for (var j = 0; j < apps[i].repository.uses.services.length; j++) { %>
                <% if (!synclets.installed[j]) { %>
                  <% for (var k = 0; k < synclets.available.length; k++) { %>
                    <% if (synclets.available[k].provider === apps[i].repository.uses.services[j]) { %>
                      <% if (count > 0) { %>+ <% } else { %>
                        <p class="connect">Connect
                      <% } %>
                      <a href="<%= synclets.available[k].authurl %>" class="oauthLink orange" data-provider="<%= synclets.available[k].provider %>"
                        data-width="<%= synclets.available[k].oauthSize.width %>"
                        data-height="<%= synclets.available[k].oauthSize.height %>"><%= synclets.available[k].title %></a>
                      <% count++ %>
                    <% } %>
                  <% } %>
                <% } %>
                <% if (count > 0) { %>
                  </p>
                <% } %>
              <% } %>
            <% } %>
            <% if (apps[i].installed) { %>
              <input disabled type='button' value='added'>
            <% } else { %>
              <input type='button' id='<%= apps[i].name %>' class='install' value='+ add to account'>
            <% } %>
          </div>
        </div>
      <% } %>
    </content>
  </body>
</html>

