<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet/less" href="css/exploreApps.less" />
    <%- partial('header_partial') %>
    <script src="js/exploreApps.js"></script>
  </head>
  <body>
    <content class="body">
      <% if (locals.breadcrumb) { %>
        <%- partial('iframe/breadcrumb') %>
      <% } %>
      <% for (var i in apps) { %>
        <div class="app-card gradient" id="<%= i %>&breadcrumb=featured">
          <div class="left-side">
            <div class="description"><%= apps[i].description %></div>
            <div class="screenshot"><img src="/registry/screenshot/<%= apps[i].repository.handle %>"></div>
          </div>
          <div class="app-info">
            <p class="title"><%= apps[i].repository.title %></p>
            <p class="author"><a class="orange parentLink" href="explore#exploreApps&author&author=<%= apps[i].author.name %>">by <%= apps[i].author.name %></a></p>
            <% if (apps[i].repository.uses && apps[i].repository.uses.types) { %>
              <p class="uses">Uses
                <% for (var j = 0; j < apps[i].repository.uses.types.length; j++) { %>
                  <% if (j > 0) { %>, <% } %>
                  <a class='blue parentLink' href='explore#exploreApps&filter&types[]=<%= apps[i].repository.uses.types[j] %>'>
                    <%= apps[i].repository.uses.types[j][0].toUpperCase() + apps[i].repository.uses.types[j].slice(1) %>
                  </a>
                <% } %>
              </p>
            <% } %>
            <% if (apps[i].repository.uses && apps[i].repository.uses.services) { %>
              <% var count = 0; %>
              <% for (var j = 0; j < apps[i].repository.uses.services.length; j++) { %>
                <% var service = connectors.filter(function(connector) { return connector.handle == apps[i].repository.uses.services[j]; });
                if (service.length > 0) { 
                    service = service[0]; %>
                    <% if (count > 0) { %>+ <% } else { %>
                      <p class="connect">Connect
                    <% } %>
                    <a href="<%= service.authurl %>" class="oauthLink orange" data-provider="<%= service.provider %>"
                      data-width="<%= service.oauthSize.width %>"
                      data-height="<%= service.oauthSize.height %>"><%= service.title %></a>
                    <% count++ %>
                    <% } %>
                  <% } %>
                <% if (count > 0) { %>
                  </p>
                <% } %>
              <% } %>
            <% if (apps[i].installed) { %>
              <input disabled type='button' value='added'>
            <% } else { %>
              <input type='button' id='<%= apps[i].name %>' class='install' value='+ add to account'>
            <% } %>
          </div>
        </div>
      <% } %>
    </content>
  </body>
</html>

