<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
  </head>
  <body>
    <content class="body">
      <form method="GET" action="publish/<%= app.handle %>">
        <ul class="publish-list">
          <li><p>1. App Name
            <p class="indented">
            <%= app.title %>
            </p>
          </li>
          <li><p>2. App Description</p>
            <p class="indented">
            <%= app.desc %>
            </p>
          </li>
          <li><p>3. Collections Used (optional)</p>
            <p class="indented">
            <%= app.desc %>
            </p>
          </li>
          <li><p>4. Connectors Used (optional)</p>
            <p class="indented">
            <%= app.desc %>
            </p>
          </li>
          <li><p>5. Screenshot or other appropriate imagery</p>
            <div class="preview"><img src="/Me/<%= app.handle %>/screenshot" onerror="TODO this.parent.html('screenshot missing, see doc')" /></div>
          </li>
        </ul>
        <div class="actions">
          <button type="submit" class="publish">Publish to registry</button>
      </form>
    </content>
  </body>
</html>


