<%
var hasError = false;
%>
<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
  </head>
  <body>
    <content class="body">
      <form method="GET" action="publish/<%= app.name %>">
        <ul class="publish-list">
          <li><p>1. App Name
          <% if (app.repository && app.repository.title) { %>
            <p class="indented">
            <%= app.repository.title %>
            <% } else { %>
              <% hasError = true; %>
            <p class='indented error'>
              You must supply a title for your application.  Please refer to the <a href='#'>publishing documentation</a> for more details.
            <% } %>
            </p>
          </li>
          <li><p>2. App Description</p>
          <% if (app && app.repository && app.repository.description) { %>
            <p class="indented">
            <%= app.repository.description%>
            <% } else { %>
              <% hasError = true; %>
            <p class='indented error'>
              You must supply a description for your application.  Please refer to the <a href='#'>publishing documentation</a> for more details.
            <% } %>
            </p>
          </li>
          <li><p>3. Types Used (optional)</p>
            <% if (app && app.repository && app.repository.uses && app.repository.uses.types && app.repository.uses.types.length > 0) { %>
              <p class="indented">
              <%=: app.repository.uses.types | capitalAll | join:', ' %>
            <% } else { %>
            <p class="indented warning">
              You did not supply the types that your application uses in your
              package.json.  While not required it is highly recommended that
              you set your primary types.  Refer to the
              <a href='#'>publishing documentation</a> for more details.
            <% } %>
            </p>
          </li>
          <li><p>4. Services Used (optional)</p>
            <% if (app && app.repository && app.repository.uses && app.repository.uses.services && app.repository.uses.services.length > 0) { %>
              <p class="indented">
              <% for (var i = 0; i < app.repository.uses.services.length; ++i) { console.log(i);%>
                 <img src='img/icons/32px/<%= app.repository.uses.services[i] %>.png' />
              <% } %>
            <% } else { %>
            <p class="indented warning">
              You did not supply the services that your application uses in your
              package.json.  While not required it is highly recommended that
              you set your primary services.  Refer to the
              <a href='#'>publishing documentation</a> for more details.
            <% } %>
            </p>
          </li>
          <li><p>5. Screenshot or other appropriate imagery</p>
          <% if (app.screenshot) { %>
          <div class="preview"><img src="/Me/<%= app.name %>/screenshot.png"/></div>
            <% } else { %>
              <% hasError = true; %>
            <p class='indented error'>
              You must include a screenshot.png, please refer to the <a href='#'>publishing documentation</a> for more details.
            <% } %>
          </li>
        </ul>
        <div class="actions">
          <p><button type="submit" <%=(hasError ? "disabled='disabled'" : "")%> class="publish">Publish to registry</button>
      </form>
    </content>
  </body>
</html>


