<!DOCTYPE html>

<html>
  <head>
  <link rel="stylesheet/less" href="css/exploreApps.less" />
    <%- partial('header_partial') %>
    <script src="js/exploreApps.js"></script>
  </head>
  <body>
    <content class="body">
      <%- partial('iframe/breadcrumb') %>
      <div class='full-app-details gradient'>
        <div class='screenshot-container'>
          <img src='https://burrow.singly.com/registry/<%=app.name%>/screenshot.png'>
        </div>
        <div class='full-app-info'>
          <div class='action-buttons'>
            <% if (app.installed) { %>
              <input disabled type='button' value='added'>
            <% } else { %>
              <input type='button' id='<%= app.name %>' class='install' value='+ add to account'>
            <% } %>
            <!-- <a href='#' class='orange twitter'>Share to Twitter!</a>
            <a href='#' class='orange facebook'>Share to Facebook!</a> -->
          </div>
          <p class="title"><%= app.repository.title %></p>
          <p class="author"><a class="orange parentLink" href='explore#exploreApps&author&author=<%= app.author.name %>'>by <%= app.author.name %></a></p>
          <% if (app.repository.uses && app.repository.uses.types) { %>
            <p class="uses">Uses
              <% for (var j = 0; j < app.repository.uses.types.length; j++) { %>
                <% if (j > 0) { %>, <% } %>
                <a class='blue parentLink' href='explore#exploreApps&filter&types[]=<%= app.repository.uses.types[j] %>'>
                  <%= app.repository.uses.types[j][0].toUpperCase() + app.repository.uses.types[j].slice(1) %>
                </a>
              <% } %>
            </p>
          <% } %>
          <div class="description"><%= app.description %></div>
          <% var date = new Date(app.time.modified) %>
          <div class='last-update'>last updated <%= (date.getMonth() + 1) + "." + date.getDate() + "." + date.getFullYear() %>
        </div>
      </div>
    </content>
  </body>
</html>

