<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= dashboard && dashboard.customTitle ? dashboard.customTitle : "The Locker Project" %></title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />

    <script src="/static/js/jquery-1.6.2.min.js"></script>
    <script src="js/jquery.gritter.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body class="app-page">

    <header class="header">
      <div class="blur"></div>
      <h1>
        <img src="<%= dashboard && dashboard.customLogo ? dashboard.customLogo : "img/tlp_logo.png" %>" alt="<%= dashboard && dashboard.customTitle ? dashboard.customTitle : "The Locker Project" %>" />
      </h1>

      <nav id="application-navigation" class="app-links">
        <ul>
          <li class="app-link" id="photos">
            <a href="#photos">
              <span class="label">Photos</span>
            </a>
            <span class="buttonCounter">&#9660;</span>
            <div class='appMenu'>
              <span><span class='photosTotalCount'>-</span> Photos</span>
              <hr />
              <div class='photosViews'>
                <div class="viewer template">
                  <a href="" class="viewer-link"><img class="viewer-icon" src="img/viewer-icon.png"/></a>
                  <div class='viewer-details'>
                    <a href="" class="viewer-link name"><span class="viewer-name">Default Viewer</span></a>
                    <a href="https://github.com/Singly" target="_blank" class="viewer-author-link">
                      <span class="viewer-author">by Singly</span>
                    </a>
                  </div>
                  <br style="clear: both;" />
                </div>
              </div>
              <hr />
              <a class='devdocs-box' href='#'>Create a new view...</a>
            </div>
          </li>
          <li class="app-link" id="contacts">
            <a href="#contacts">
              <span class="label">People</span>
            </a>
            <span class="buttonCounter">&#9660;</span>
            <div class='appMenu'>
              <span><span class='contactsTotalCount'>-</span> People</span>
              <hr />
              <div class='contactsViews'></div>
              <hr />
              <a class='devdocs-box' href='#'>Create a new view...</a>
            </div>
          </li>
          <li class="app-link" id="links">
            <a href="#links">
              <span class="label">Links</span>
            </a>
            <span class="buttonCounter">&#9660;</span>
            <div class='appMenu'>
              <span><span class='linksTotalCount'>-</span> Links</span>
              <hr />
              <div class='linksViews'></div>
              <hr />
              <a class='devdocs-box' href='#'>Create a new view...</a>
            </div>
          </li>
        </ul>
      </nav>

      <% if (dashboard && dashboard.customLogout) { %>
        <div id="customLogout">
          <div id="menuExpander">
            <div class="userEmail"></div>
            <div class="expander">&#x25BC;</div>
          </div>
          <div id="userMenu">
            <ul>
              <li class="user-name"></li>
              <% if (dashboard.customSettings) { %>
                <li class="settings"><a href="<%= dashboard.customSettings %>">Account Settings</a></li>
              <% } %>
              <li class="signout-link"><a href="<%= dashboard.customLogout %>">Sign Out</a></li>
            </ul>
          </div>
        </div>
      <% } %>

      <div id="global-actions">

        <!-- Services -->
        <div class="services-box-container">
          <div id="services-box" class="services-box"><img src="img/265.png" width="35" height="26" alt="Connected Sites" title="Connected Services" /></div>
        </div>

        <!-- Services -->
        <div class="devdocs-box-container">
          <div id="devdocs-box" class="devdocs-box"><img src="img/cog.png" width="22" height="26" alt="Developer Docs" title="Developer Docs" /></div>
        </div>

        <!-- Search -->
        <div class="search-box-container">
          <div class="search-box"><img src="img/63.png" width="24" height="24" alt="Search" /></div>
        </div>

      </div>

      <div id="nav-search">
        <input type="search" class="search" placeholder="Search…" />
        <div id="search-results">
          <div class="message">
            <p>No Results Found</p>
          </div>
          <div class="search-results-wrapper">
            <div class="search-header-row people" data-app='contacts'>
              <div class="header-title">People <span class="count"></span></div>
              <div class="see-all">See all people results</div>
            </div>
            <div class="search-header-row photos" data-app='photos'>
              <div class="header-title">Photos <span class="count"></span></div>
              <div class="see-all">See all photo results</div>
            </div>
            <div class="search-header-row links" data-app='links'>
              <div class="header-title">Links <span class="count"></span></div>
              <div class="see-all">See all web results</div>
            </div>
            <div class="search-header-row tweets">
              <div class="header-title">Tweets</div>
            </div>
             <div class="search-result-row template">
              <div class="icon-box"><img class="search-result-icon" src=""/></div>
              <div class="search-result"></div>
            </div>
          </div>
        </div>
      </div>

    </header>

    <div id="services">
      <div class="blur"></div>
      <div id="choose-services">
        Connect to…
      </div>
      <ul id="service-selector">
        <li class="service template">
          <a href="#" class="provider-link"><img class="provider-icon" src=""/></a>
          <a href="#" class="provider-link"><p class="provider-name"></p></a>
          <img class="checkmark" src="img/checkmark.png" />
        </li>
      </ul>
    </div>

<!--
    <div id="viewers">
      <div id="viewers-title">
        SELECT A VIEWER
      </div>
      <div id="viewers-list">

      </div>
      <div id="viewers-hover">
        <div class="viewer-hover template">
          <a href="" class="viewer-link"><img class="viewer-icon" src="img/viewer-icon.png"/></a>
        </div>
      </div>
      <div id="viewers-hide-show">
        <img id="viewers-slide-button" src="img/slide-out.png"/>
      </div>
    </div>
    -->

    <div id='firstRun'>
    </div>

    <div id="iframeWrapper">
      <iframe id="appFrame"></iframe>
    <!--
      <div class="blur">
        <div class="lightbox">
          <img class="close-box" src="img/close-x.png"/>
          <div class="contents">
            <div class="header"><p class="header-text"></p></div>
            <div class="body"></div>
            <div class="forward"><p class="forward-button-text"></p></div>
          </div>
        </div>
      </div>
      -->
    </div>

    <!-- Get Satisfaction -->
    <!--
    <script>
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";
      feedback_widget_options.company = "singly";
      feedback_widget_options.placement = "bottom";
      feedback_widget_options.color = "#222";
      feedback_widget_options.style = "question";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
    -->

    <script src="socket.io/socket.io.js"></script>
    <script src="js/client.io.js"></script>
    <script src="js/tooltip.min.js"></script>
    <% if (dashboard && dashboard.customHostedEndpoint) { %>
      <script src="js/hosted.js"></script>
      <script src="<%= dashboard.customHostedEndpoint %>"></script>
    <% } %>
    <% if (closed) { %>
      <script>
        $(document).ready(function() { manuallyClosed = true; });
      </script>
    <% } %>

  </body>
</html>
