<div class="sidenav-header">
  <p class='sidenav-header-title'>APPS</p>
  <p class="sidenav-header-link"><a href="allApps" data-id="allApps" class="orange iframeLink">see all</a></p>
</div>
<div class="installed-apps sidenav-items">
  <ul>
    <% for (var i = 0; i < map.length; i++) { %>
      <li>
        <p><a href="#" class="iframeLink" data-id="Explore-<%= map[i].id %>"><%= map[i].title %></a></p>
      </li>
    <% } %>
  </ul>
  <p><a class="orange" href="appGallery#AppGallery-Featured">Explore more apps</a></p>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>CONNECTED</p>
</div>
<div class="sidenav-items synclets-connected">
  <% for (var i = 0; i < connectors.length; i++) { %>
    <% if (connectors[i].authed) { %>
      <img src="img/icons/32px/<%= connectors[i].repository.handle %>.png">
    <% } %>
  <% } %>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>MORE SERVICES</p>
</div>
<div class="sidenav-items synclets-unconnected">
  <% for (var i = 0; i < connectors.length; i++) { %>
    <% if (!connectors[i].authed) { %><a href="/auth/<%=connectors[i].repository.handle %>" data-provider='<%= connectors[i].repository.handle %>'
        data-width='<%=connectors[i].repository.oauthSize.width%>' data-height='<%=connectors[i].repository.oauthSize.height%>' class="oauthLink">
    <img src="img/icons/32px/<%= connectors[i].repository.handle %>.png"></a>
    <% } %>
  <% } %>
</div>

<% if (firstVisit === false) { %>
  <div id="basic-modal-content">
    <span id='close-button'>X</span>
    <p>When you're ready to connect more services, find them under "More Services".</p><br>
    <div class="action">
      <span class="gotit-button action-button">Got it!</span>
    </div>
  </div>
<% } %>
