<!DOCTYPE html>

<html>
  <head>
    <%- partial('header_partial') %>
    <script type="text/javascript" src="https://use.typekit.com/znj4adx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" charset="utf-8" src='common/js/dust-core-0.3.0.min.js'></script>
    <script type="text/javascript" charset="utf-8" src='common/js/moment.min.js'></script>
    <script type='text/javascript' charset="utf-8" src='js/jquery.simplemodal.js'></script>
    <script src='common/js/compiled_templates.js'></script>
    <script src="common/js/registry.js"></script>
    <script src="common/js/generators.js"></script>
    <script src="common/js/page-handlers.js"></script>
    <script src="js/locker.js"></script>
    <script src="js/dashboard.js"></script>
  </head>
  <body class="app-page">

    <header class="header">
      <div class="user-info">
        <a href='/'><img class="avatar" src="<%= profileImage %>"></a>
        <div class="user-info-name"><a class='user-info-name-link' href='/'></a></div>
      </div>
      <div class="nav-section">
        <div class="nav">
          <a data-id='Explore' href='explore'
             class="explore <% if (page === 'explore' || page === 'you-connect') { %>blue<% } %>">
            Explore
          </a>
          <a data-id='AppGallery' href='appGallery'
             class="gallery <% if (page === 'appGallery') { %>blue<% } %>">
             App Gallery
          </a>
          <a data-id='Develop' href='develop#Develop-BuildAnApp'
             class="develop <% if (page === 'develop') { %>blue<% } %>">
             Develop
          </a>
        </div>
        <% if (dashboard && dashboard.customHostedEndpoint) { %>
          <div class="hosted-nav">
            <a href='<%= dashboard.customLogout %>'>Sign out</a>
            <a href='<%= dashboard.customSettings || "settings#Settings-Connections" %>'>Account Settings</a>
            <a href='<%= dashboard.customLearnmore || "https://singly.com/home.html#About-OurMission" %>'><%= dashboard.customHostedby || "Hosted by Singly" %></a>
          </div>
          <script src="js/hosted.js"></script>
          <script src="<%= dashboard.customHostedEndpoint %>"></script>
        <% } %>
      </div>
    </header>
    <aside class="sidenav">
      <%- body %>
    </aside>
    <div class="app-container" id="iframeContainer">
      <div id="appHeader"></div>
      <iframe id="appFrame"></iframe>
    </div>
    <div class="app-container" id="appDiv">
      <section id="AppGallery">
        <section id="Featured">
        </section>
        <section id="Author">
        </section>
        <section id="Filter">
        </section>
        <section id="Details">
        </section>
      </section>
      <section id="Settings">
        <section id="Connections">
        </section>
        <section id="AccountInformation">
        </section>
        <section id="APIKey">
        </section>
      </section>
    </div>

  </body>
</html>

