<div class="sidenav-header">
  <p class='sidenav-header-title'>APPS</p>
  <p class="sidenav-header-link"><a href="allApps" data-id="allApps" class="orange iframeLink">see all</a></p>
</div>
<div class="installed-apps sidenav-items">
  <ul>
    <% for (var i = 0; i < map.length; i++) { %>
      <li>
        <p><a href="#" class="iframeLink" data-id="You-<%= map[i].id %>"><%= map[i].title %></a></p>
        <div class="app-details">
          created by <%= map[i].author || "Singly, Inc." %><br />
          <a class="orange" href="<%= map[i].github || "https://www.github.com/LockerProject/Locker" %>">view code on GitHub</a>
        </div>
      </li>
    <% } %>
  </ul>
  <p><a class="orange" href="explore#Explore-Featured">Explore more apps</a></p>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>CONNECTED</p>
</div>
<div class="sidenav-items synclets-connected">
  <% for (var i = 0; i < connectors.length; i++) { %>
    <% if (connectors[i].repository.hidden) continue; %>
    <% if (connectors[i].authed) { %><img src="img/icons/32px/<%= connectors[i].repository.handle %>.png"><% } %>
  <% } %>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>MORE SERVICES</p>
</div>
<div class="sidenav-items synclets-unconnected">
  <% for (var i = 0; i < connectors.length; i++) { %>
    <% if (connectors[i].repository.hidden) continue; %>
    <% if (!connectors[i].authed) { %><a href="/auth/<%=connectors[i].repository.handle %>" data-provider='<%= connectors[i].repository.handle %>'
        data-width='<%=connectors[i].repository.oauthSize.width%>' data-height='<%=connectors[i].repository.oauthSize.height%>' class="oauthLink">
    <img src="img/icons/32px/<%= connectors[i].repository.handle %>.png"></a>
    <% } %>
  <% } %>
</div>

<% if (firstVisit === false) { %>
  <div id="basic-modal-content">
    <span id='close-button'>X</span>
    <p>When you want to connect more services, click on the logo under "Your Services", or go to your "Account Settings" page.</p><br>
    <div class="action">
      <img class="gotit-button" src="img/got-it.png" />
    </div>
  </div>
<% } %>