<div class="sidenav-header">
  <p class='sidenav-header-title'>APPS</p>
  <p class="sidenav-header-link"><a href="allApps" data-id="allApps" class="orange iframeLink">see all</a></p>
</div>
<div class="installed-apps sidenav-items">
  <ul>
    <% for (var i = 0; i < map.length; i++) { %>
      <li>
        <p><a href="<%= map[i].externalUri %>" class="iframeLink" data-id="<%= map[i].id %>"><%= map[i].title %></a></p>
        <div class="app-details">
          created by <%= map[i].author || "Singly, Inc." %><br />
          <a class="orange" href="<%= map[i].github || "https://www.github.com/LockerProject/Locker" %>">view code on GitHub</a>
        </div>
      </li>
    <% } %>
  </ul>
  <p><a class="orange" href="#">Explore more apps</a></p>
</div>
<div class="sidenav-header">
  <p class='sidenav-header-title'>YOUR SERVICES</p>
</div>
<div class="sidenav-items synclets">
  <% for (var i = 0; i < synclets.available.length; i++) { %>
    <% if (synclets.available[i].authurl) { %>
      <a href="<%= synclets.available[i].authurl %>" class="oauthLink" data-provider="<%= synclets.available[i].provider %>"
         data-width="<%= synclets.available[i].oauthSize.width %>"
         data-height="<%= synclets.available[i].oauthSize.height %>"><img src="img/icons/32px/<%= synclets.available[i].provider %>.png"></a>
    <% } %>
  <% } %>
  <% for (var i in synclets.installed) { %>
    <img class='installed' src="img/icons/32px/<%= synclets.installed[i].provider %>.png"></a>
  <% } %>
</div>
